.navbar-container {
    background-color: rgb(2, 1, 36);
    padding: 0 15px 0 15px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;


}


.navbar-logo h3 {
    font-size: 28px;
    font-weight: 800;
    color: white;
    text-shadow: 2px 2px 4px gray;
    transition: all 0.3s ease;
}

.navbar-logo h3:hover {
    color: blue;
    font-size: 32px;
    text-shadow: 4px 4px 8px gray;
}

.navbar-logo h3 span {
    color: red
}

.navbar-link {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-right: 10px;
}

.mobile {
    position: absolute;
    color: white;
    right: 30px;
    font-size: 20px;
    font-weight: 800;
    width: 20px;

}

@media (width > 500px) {
    .mobile {
        display: none;
    }

}

@media (width <=500px) {
    .navbar-link {
        display: none;
    }
}

.navbar-link a {
    text-decoration: none;
    color: white;

}


.navbar-home {
    font-size: 18px;
    font-weight: 800;
    transition: transform 0.3s ease;

}

.navbar-home:hover {
    transform: scale(1.2);
    color: green;
    font-weight: 800;
}

.navbar-cart {
    position: relative;
}

.navbar-cart .cart {
    height: 20px;
    stroke-width: 3;
    transition: transform 0.3s ease;

}

.cart:hover {
    color: green;
    transform: scale(1.2);
}

.cartItems {
    position: absolute;
    top: -9px;
    right: -9px;
    color: red;
    font-size: 18px;
}

.navbar-mobile {
    color: rgb(192, 35, 35);
    position: fixed;
    font-size: 23px;
    top: 0px;
    right: -400px;
    width: 160px;
    background-color: rgb(4, 4, 46);
    z-index: 9999;
    transition: right 0.4s ease;
    height: 280px;

}

@media (width >=500px) {
    .navbar-mobile {
        display: none;
    }
}

.navbar-mobile.active {
    right: 0px;
}



.navbar-x {

    stroke-width: 3;
    color: blue;
}



.nav-link-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-left: 25px;

    gap: 12px;

}

.nav-link-container a {
    color: white;
    text-decoration: none;

}


.width-full {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 20px;


}

.navbar-x-container {
    width: fit-content;
}